@page "/about"

<PageTitle>About</PageTitle>

<h3>About</h3>

<p>This is an application created as a code test.</p>
<p>Its purpose is to let the user add a report for a problem with a car in the system.</p>
<p>The application also lets the user see old reports in the history tab.</p>

